@model PN.Models.Forum
@{
    var service = new LanguagesService();
    ViewBag.Title = "Eliminar"; // TODO: Multilanguage
}

<h1 class="title">eliminar</h1> @*TODO: Multilanguage*@
<hr class="title" />
@*<div class="separator"></div>*@

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desciption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" />
            <a href="~/@service.Language/@service.ForumTitle">Ir a la lista de foros</a>
        </div>
    }
</div>
