@model PN.Models.DetailsTagViewModel
@{
    var service = new LanguagesService();
    ViewBag.Title = "Detalles"; // TODO: Multilanguage
}

<h1 class="title">detalles</h1> @*TODO: Multilanguage*@
<hr class="title" />
@*<div class="separator"></div>*@

<div>
    <h4>Tarea</h4> @*TODO: Multilanguage*@
    <hr />
    <table>
        <tr>
            <td class="container-fluid">
                <div class="dl-horizontal">
                    @Html.DisplayNameFor(model => model.Name)
                    <p>@Html.DisplayFor(model => model.Name)</p>
                    @Html.DisplayNameFor(model => model.Desciption)
                    <p>@Html.DisplayFor(model => model.Desciption)</p>
                </div>
            </td>
            <td>
                <div class="dl-horizontal">
                    @Html.DisplayNameFor(model => model.ImagePath)
                    <img id="img-to-upload" class="d-block img-fluid img-input" src="@Url.Content(Model.ImagePath)" />
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="w-100">
    @*TODO: Multilanguage*@
    <div class="btn-group">
        <a class="btn btn-info" href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/@Model.Name/Edit">Editar</a>
        @if (User.Identity.IsUserInRole("Admin"))
        {
            <a class="btn btn-outline-danger" href="~/@service.Language/@service.TagTitle/@ViewBag.forumName/@Model.Name/Delete">Eliminar</a>
        }
    </div>
    <a class="float-right" href="~/@service.Language/@service.TagTitle/@ViewBag.forumName">Ir a la lista de tareas</a>
</div>
