@model PN.Models.CreateTagViewModel
@{
    var service = new LanguagesService();
    ViewBag.Title = "Editar"; // TODO: Multilanguage
}

<h1 class="title">editar</h1> @*TODO: Multilanguage*@
<hr class="title" />
@*<div class="separator"></div>*@

@using (Html.BeginForm("Edit", "Tag", new { Id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4>Tarea</h4>
    <hr />
    <table>
        <tr valign="top">
            <td class="container-fluid">
                <div class="dl-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Desciption, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Desciption, new { htmlAttributes = new { @class = "form-control description" } })
                        @Html.ValidationMessageFor(model => model.Desciption, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SelectedForumId, new { @class = "col-md-2 control-label" })
                        @Html.DropDownListFor(m => m.SelectedForumId, new SelectList(Model.Forums, "Id", "Name", 0), new { @class = "form-control", id = "downList" })
                    </div>
                </div>
            </td>
            <td valign="top">
                <div class="form-group">
                    @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label" })
                    <img id="img-to-upload" class="d-block img-fluid img-input" src="@Url.Content(Model.ImagePath)" />
                    <label class="btn btn-block btn-success" for="image-file">
                        <span id="btn-file">Subir Archivo</span>
                    </label>
                    <input id="image-file" type="file" class="from-control" name="ImageFile" />
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
        <a class="float-right" href="~/@service.Language/@service.TagTitle/@ViewBag.forumName">Ir a la lista de temas</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
