@model PN.Models.HomePostTagViewModel
@{
    var service = new LanguagesService();
    var isAutenticated = Request.IsAuthenticated;
    ViewBag.Title = service.PostTitle;
    ViewBag.ContentClassModifier = "row";
    Html.RenderPartial("_Sidebar", Model.PostLinks);
}
<div class="col-sm-10">
    <h1 class="title">@ViewBag.ForumName > @ViewBag.tagName</h1>
    <hr class="title" />
    @*<div class="separator"></div>*@
    <div class="row">
        <div class="col-sm">
            <img class="d-block img-fluid" src="@Url.Content(Model.Tag.ImagePath)" />
        </div>
        <div class="col-sm-8">
            @*TODO: Multilanguage*@
            <h3>¿Qué es @ViewBag.tagName?</h3>
            <p>@Html.DisplayFor(model => model.Tag.Desciption)</p>
        </div>
    </div>
</div>

